/* grid-boxes.component.scss */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 600px;
    margin: 50px auto;
}

.box {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
